html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}
    body {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: -webkit-center;
    font-family: arial,sans-serif;
    font-size: 14px;
}

div {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 20px;
}

li {
    display: inline;
    padding-right: 10px;
}

li a {
    color: black;
}

li a:hover {
    color: black;
}

.nav-links-left {
    float: left;
    margin: 10px;
}

.nav-links-right {
    float: right;
}

.doodle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 109px;
}

#searchbar {
    margin-top: 25px;
    border-radius: 0;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 40px;
    width: 482px;
    margin: 0 auto;
}

.searchform {
    padding: 10px
}

button {
    background-image: -webkit -linear-gradiant(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px; 
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222
}

footer {
    background: #f2f2f2;
    border-top: solid 2px #e4e4e4;
    position: fixed;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    font-size: 12px;
}

.footer-right {
    float: right;
    padding: 13px;
    padding-left: 27px;
}

.footer-left {
    float: left;
    padding: 13px;
    padding-left: 27px;
}

#apps {
    width: 17px;
    height: 17px;
    margin: 10px;
}

#sign-in {
    margin-right: 20px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: #fff
}

#results-img {
    position: relative;
    top: 10px;
}

