body {
    background-color: ghostwhite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.doodle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}